/*  Write your styles here  */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oxygen, sans-serif;
}

.slider {
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 0.9rem;
  font-size: medium;
}

.slider div {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
}

.slider div span {
  padding-left: 15px;
}

.slider-market-raw {
  margin-right: 20px;
  color: black;
}

.slider-name {
  color: #191970;
  font-weight: bold;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.header {
  background-color: #191970;
  height: 4.2rem;
}

.header-title {
  color: white;
  font-weight: bold;
}

.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}